body {
	background-color: #c4f2fb;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------------------*/

/*TITOLO(confine)*/
header {
	height: 11%;
	font: bold 500% Arial, sans-serif;
	color: #ffffff;
	background-color: #4e2e9e;
	text-align: center;
}

/*-------------------------------------------------------------*/

/*NAVBAR*/
nav{
	font: bold 200% Arial, sans-serif;
	width: 100%;
	position: absolute;
	background-color: #5852c6;
	text-align: center;
	
}

nav a {
	color: #01313b;
	text-decoration: none;
}

nav li {
	display: inline;
	padding: 4%;
}

/*-------------------------------------------------------------*/

/*FOOTER(fine pag)*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #200696;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	font: 100% Arial, sans-serif;
}

footer a{
	color: #97c4e9;
}

/*-------------------------------------------------------------*/

/*selection di ogni pagina*/
section {
	margin-top: 8%;
	padding-bottom: 4%;
	margin-left: 3%;
	margin-right: 3%;
}

/*-------------------------------------------------------------*/

/*per foto sinistra*/
hr {
	color: #000000;
}

/*-------------------------------------------------------------*/

/*per foto sinistra*/
.section1 {
	font: 180% Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}

.section1 img {
	height: 30%;
	width: 30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
}

.section1 p {
	color: rgb(0, 0, 0);
	width: 60%;
	margin-right: 3%;
	text-align: justify;
	font-size: 100%;
}


/*-------------------------------------------------------------*/

/*per foto destra*/
.section2 {
	font: 180% Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.section2 img {
	height: 30%;
	width: 30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	order: 1;
}

.section2 p {
	color: rgb(0, 0, 0);
	width: 60%;
	margin-left: 3%;
	text-align: justify;
	font-size: 100%;
}

#giornata p{
	color: rgb(0, 0, 0);
	width: 100%;
	margin-left: 3%;
	text-align: justify;
	font-size: 100%;
}

.section2 h2{
	color: rgb(0, 0, 0);
	width: 100%;
	margin-right: 3%;
	text-align: justify;
	font-size: 100%;
}
/*-------------------------------------------------------------*/

/*Tabella date, prezzi*/

#tabella {
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
}

#tabella p {
	color: #000000;
	font: 150% Arial, sans-serif;
	text-align: center;
}

table {
	padding-left: 26%;
}

/*titolo tabella*/
caption {
	padding-left: 32%;
	color: #000000;
	font: bold 200% Arial, sans-serif;
}

/*riga titolo*/
th {
	font: bold 160% Arial, sans-serif;
	border: 1px solid black;
	background-color: #ffffff7d;
	color: rgb(255, 0, 0);
}

/*righe info*/
td {
	font: 120% Arial, sans-serif;
	width: 30%;
	text-align: center;
	background-color: #ffffff7d;
	border: 1px solid black;
}

/*-------------------------------------------------------------*/

/*form*/
#form {
	font: 120% Arial, sans-serif;
	padding-left: 2%;
	text-align: center;
}

#form h1 {
	font: bold 200% Arial, sans-serif;
}

#form h2 {
	padding-top: 2%;
	font: bold 130% Arial, sans-serif;
}

#form input {
	font: 100% Arial, sans-serif;
	margin-top: 2%;
}

#form select {
	margin-top: 2%;
	font: 100% Arial, sans-serif;
}

/*-------------------------------------------------------------*/

/*esperienze*/
#esperienze {
	font: 180% Arial, sans-serif;
}

#esperienze article {
	padding: 4%;
}

article img {
	height: auto;
	width: 100%;
}

article h4 {
	color: rgb(0, 0, 0);
	font: bold;
}

.contenuto1 {
	width: 50%;
	float: left;
	margin-bottom: 4%;
}

.contenuto2 {
	width: 50%;
	float: left;
	margin-bottom: 4%;
}

/*-------------------------------------------------------------*/

/*section pag invio*/
#invio{
	margin-top: 10%;
	padding-bottom: 8%;
	padding-left: 10%;
	margin-right: 10%;
	font: 180% Arial, sans-serif;
}
#invio h1{
	font: bold 200% Arial, sans-serif;
}
/*-------------------------------------------------------------*/
#gruppo{
	background-image: url(../img/gruppo.JPG);
    background-repeat: no-repeat;
	background-size: cover;
}

#gruppo h4{background: #0000008a;
	color: rgb(255, 255, 255);
}
#gruppo p{background: #0000008a;
	color: rgb(255, 255, 255);
}


#giochi{
	background-image: url(../img/giocoNotturno5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#giochi h4{
	background: #0000008a;
	color: rgb(255, 255, 255);
}
#giochi p{background: #0000008a;
	color: rgb(255, 255, 255);
}

#camminata{
	background-image: url(../img/gita5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#camminata h4{background: #0000008a;
	color: rgb(255, 255, 255);
}
#camminata p{background: #0000008a;
	color: rgb(255, 255, 255);
}

#tornei{
	background-image: url(../img/tornei.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#tornei h4{background: #0000008a;
	color: rgb(255, 255, 255);
}

#tornei p{background: #0000008a;
	color: rgb(255, 255, 255);
}

/*-------------------------------------------------------------*/
h1{
	text-align: center;
	font: bold 300% Arial, sans-serif;
}
/*-------------------------------------------------------------*/

/*form*/
#aiuta {
	background-color: #063d96;
	padding: 2%;
	margin-left: 25%;
	margin-right: 25%;
	font: bold 125% Arial, sans-serif;
	margin-top: 2%;
}

#aiuta input {
	font: 100% Arial, sans-serif;
	margin-top: 2%;
}

