 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/a5a709cee308b6438a97f8b2aefb9f46362729d814719e9d2d85362a32c8443d9e630ec26501c6d49fb1c3bbb553bcb70a972cc18e604bfce919df_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 199px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 711px;
  margin: 46px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 77px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 10px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 345px;
}

.u-section-4 .u-list-1 {
  margin: 0 0 29px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 316px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-4 .u-icon-2 {
  height: 100px;
  width: 100px;
  transition-duration: 0.5s;
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-4 .u-icon-3 {
  height: 100px;
  width: 100px;
  transition-duration: 0.5s;
  margin: 0 auto;
  padding: 20px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }
}

.u-section-4 .u-icon-1,
.u-section-4 .u-icon-1:before,
.u-section-4 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1:hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  transform: scale(1) !important;
}

.u-section-4 .u-icon-1.u-icon-1.u-icon-1.hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  transform: scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-icon-2,
.u-section-4 .u-icon-2:before,
.u-section-4 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2:hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
}

.u-section-4 .u-icon-2.u-icon-2.u-icon-2.hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
}

.u-section-4 .u-icon-3,
.u-section-4 .u-icon-3:before,
.u-section-4 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3:hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
}

.u-section-4 .u-icon-3.u-icon-3.u-icon-3.hover {
  stroke-width: 4px !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 900px;
}

.u-section-5 .u-shape-1 {
  width: 1062px;
  height: 850px;
  margin: 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 260px;
  height: 259px;
  margin: -850px 35px 0 auto;
}

.u-section-5 .u-shape-3 {
  width: 260px;
  height: 260px;
  background-image: none;
  margin: -259px auto 0 39px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 680px;
  margin: -227px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 118px 0 150px;
}

.u-section-5 .u-shape-4 {
  width: 260px;
  height: 259px;
  margin: 230px 35px 0 auto;
}

.u-section-5 .u-shape-5 {
  width: 260px;
  height: 259px;
  margin: -258px auto 0 39px;
}

.u-section-5 .u-video-1 {
  width: 687px;
  height: 387px;
  margin: -451px auto 60px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 18px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 17px;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 463px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 15px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 425px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0 42px;
}

.u-section-7 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-7 .u-btn-1 {
  margin: 35px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 425px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  height: 361px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 350px;
  }

  .u-section-7 .u-image-1 {
    height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-7 .u-image-1 {
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-7 .u-image-1 {
    height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-7 .u-image-1 {
    height: 215px;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  transform: rotate(0deg) scale(1.15) !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  transform: rotate(0deg) scale(1.15) !important;
}

.u-section-7 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 17px;
}.u-section-9 .u-sheet-1 {
  min-height: 332px;
}

.u-section-9 .u-image-1 {
  width: 117px;
  height: 198px;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 46px auto 0;
}

.u-section-9 .u-image-2 {
  width: 346px;
  height: 96px;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -139px auto 0 40px;
}

.u-section-9 .u-image-3 {
  width: 222px;
  height: 80px;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -80px 98px 60px auto;
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 94px;
    margin-left: 0;
  }
}

.u-section-9 .u-image-2,
.u-section-9 .u-image-2:before,
.u-section-9 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-image-1,
.u-section-9 .u-image-1:before,
.u-section-9 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-image-3,
.u-section-9 .u-image-3:before,
.u-section-9 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) !important;
}

.u-section-9 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}